* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
}

header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}
/* End apply styles to <header> */

/* Hero Style Start */
.hero {
  background-image: url(../images/hero-bg.jpeg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: auto;
  text-align: center;
  margin-bottom: 40px;
}

.page-title {
  color: #fce138;
  display: inline-block;
  border-bottom: solid;
  border-width: 4px;
  padding: 0px 80px 15px 80px;
  font-weight: normal;
  font-size: 42px;
  font-style: italic;
}
/* Hero Style End */

/* Begin Body styling */
body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}

section {
  padding: 60px;
}

.secondary-content {
  width: 80%;
  margin: 0px auto;
  color: #024e76;
}
header h3 {
  font-size: 25px;
  margin: 20px 0px 20px 0px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0px 20px 0px;
}

ul {
  margin: 15px;
}

li {
  color: #39a6b2;
  margin: 10px 0px 10px 0px;
}
/* End body styling */

/* Begin Footer styling */
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
}
footer h2 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #024e76;
}
